body {
    color: #343434;
}

p {
    word-break: keep-all;
    line-height: 1.4;
}

.sec {
    padding: 100px 0;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sans_serif {
    font-family: 'Noto Serif KR', serif;
}

.btn_o {
    font-family: 'Noto Sans KR', sans-serif;
    background: transparent;
    border: none;
    outline: none;
    line-height: 1;
    cursor: pointer;
}

#sub {
    border-top: 1px solid #ededed;
    margin-top: 100px;
}

* {
    outline: 1px solid t-omato;
}