#sub {
    height: calc(100vh - 257px);
}

.collVisual {
    position: relative;
    padding: 80px 0;
}

.collVisual .inner {
    position: relative;
    width: calc(1200px + (100% - 1200px)/2);
    margin: 0 0 0 auto;
}

.collVisual .tit {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    /* transform: translate(0, -50%); */
}

.collVisual .tit h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.3;
}

.collVisual .tit p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.collVisual .tit .num {
    font-weight: 300;
    font-size: 20px;
}

.collVisual .itm {
    display: flex;
    gap: 50px;
    align-items: flex-end;
}

.collVisual .itm img {
    width: 100%;
}

.collVisual .itm figure:nth-child(1) {
    gap: 30px;
    align-items: flex-end;
}

.collVisual .itm figure:nth-child(1) img {
    width: 295px;
}

.collVisual .itm figure:nth-child(1) .itm_des {
    width: 420px;
}

.collVisual .itm figure .itm_des strong {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
}

.collVisual .itm figure .itm_des p {
    font-size: 15px;
    font-weight: 300;
}

.collVisual .itm figure:nth-child(2) {
    width: 300px;
}

.collVisual .itm figure:nth-child(2) img {
    margin-bottom: 20px;
}

.collVisual .itm figure:nth-child(2) .itm_des p {
    height: 84px;
}

.collVisual .itm figure:nth-child(3) {
    width: 240px;
}

.collVisual .itm figure:nth-child(3) .itm_des {
    margin-bottom: 20px;
}

.collVisual em {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 300;
    color: #666;
}